#navicon {
    display: block;
    position: fixed;
    text-indent: 100%;
    white-space: nowrap;
    opacity: 0;
    z-index: 100;
    font-size: 18px;
    top: 23px;
    right: 5px;
    height: 30px;
    width: 40px;
    color: #8DC35B;
}

#navicon:before {
    content: "\f0c9";
    display: block;
    font-weight: normal;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
    z-index: 101;
    font-size: 18px;
    top: 23px;
    right: 5px;
    height: 30px;
    width: 40px;
    vertical-align: center;
    text-align: center;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}


/********full screen *****/
    .navheader .navicon-wrapper ul {

        padding: 50px 0 20px !important;
        font-family: "HelveticaNeue", "Helvetica Neue", "aktiv-grotesk", sans-serif; 
        font-size: 2.5em !important;
        font-weight: 700 !important;

    }

    .navheader .nav-wrapper ul li {
        margin: 15px 0;
    }

    .navheader {
        z-index: 10 !important;
        position: absolute;
        top: 25px;
        padding-right: 10px;
        padding-left: 10px;

    }

    .navheader .navicon-toggle #navicon {
        top: 25px !important;
        right: 25px !important;

    }